**/build
*.DS_Store*
*.vscode
*.code-workspace
**/doc/latex*
**/doc/html*
*.pos
test/dump
external/eigen*
!external/eigen*.tar*

# emacs
*~
*#
GPATH
GSYMS
GRTAGS
GTAGS
*compile_commands.json
*.cache/*